body {
  padding-top: 70px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #eee;
}

/* Style for all modal dialogs */
.modal-header {
	background-color: #337ab7;
  	border-color: #2e6da4;
  	color: #fff;
	padding: 9px 15px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-header .close:hover,
.modal-header .close:focus {
	color: #fff;
	filter: alpha(opacity=40);
	opacity: .4;
}
.modal-header .close {
	margin-top: 2px;
	text-shadow: 2px 2px 0 #000;
	color: #fff;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

/* Style for panels inside content */
#content > div {
	padding: 5px;
	margin: 0 auto;
}

.form-heading  {
	margin-top: 0;
	margin-bottom: 0;
}

/* Style for all tables */

/* Style for all forms */
form {
	padding: 5px;
	margin: 0 auto;
}

form .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Special styles for configuration dialog */
#device_form {
	padding-top: 5px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
}

.device-cancel, .device-submit {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}

.config-map-area {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 75vh;
}

.device-image:hover {
	cursor: pointer;
}

.device-image circle:hover {
	fill: blue;
}

.ping-alert {
	border: 1px solid;
	border-color: black;
	border-radius: 5px;
}

.ping-alert-remove {
	color: #fff;
	filter: alpha(opacity=80);
	opacity: .8;
}

.ping-alert-remove:hover,
.ping-alert-remove:focus {
	color: #000;
	text-decoration: none;
	filter: alpha(opacity=50);
	opacity: .5;
}

#config_ping_alerts > ul > li > span.glyphicon-info-sign,
#config_ping_alerts > ul > li > span.glyphicon-exclamation-sign,
#config_ping_alerts > ul > li > span.glyphicon-warning-sign,
#config_voltage_alerts > ul > li > span.glyphicon-info-sign,
#config_voltage_alerts > ul > li > span.glyphicon-exclamation-sign,
#config_voltage_alerts > ul > li > span.glyphicon-warning-sign {
	font-size: 20px;
	vertical-align: -4px;
}

.badge {
	margin-top: 5px;
}

#config_ping_alerts input,
#config_voltage_alerts input {
	width: 6em;
}

div.ping-alert-type, 
div.voltage-alert-type {
	display: inline-block;
	width: 5em;
}

/* Special styles for monitoring pages */
#control {
	padding: 15px;
}

.monitor-tabs {
	margin-top: 10px;
}

.monitor-map-area {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	height: 70vh;
}

.monitor-device-image:hover {
	cursor: pointer;
}

.alert-level-info {
	color: #31708f;
}

.alert-level-warning {
	color: #8a6d3b;
}

.alert-level-alarm {
	color: #a94442;
}

.alerts-list {
	width: 100%;	
}

.alerts-list thead, .alerts-list tbody {
	display: block;
}

.alerts-list tbody {
	height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
}

/* TODO reduce selector to monitoring page only! */
.popover-content {
	white-space:pre-wrap;
}

circle.ping-alert-ok {
	fill: #5cb85c;
}

circle.ping-alert-info {
	fill: #5bc0de;
}

circle.ping-alert-warning {
	fill: #f0ad4e;
}

circle.ping-alert-alarm {
	fill: #d9534f;
}

circle.voltage-alert-ok {
	stroke: #5cb85c;
	stroke-width: 2;
}

circle.voltage-alert-info {
	stroke: #5bc0de;
	stroke-width: 4;
}

circle.voltage-alert-warning {
	stroke: #f0ad4e;
	stroke-width: 6;
}

circle.voltage-alert-alarm {
	stroke: #d9534f;
	stroke-width: 8;
}
