{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='admin/users.css')}}">
{% endblock %}

{% block page_content %}
<div class="form-user">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="form-heading">
			{% if is_new %}
			New User
			{% else %}
			Edit User
			{% endif %}
			</h3>
		</div>
		<div class="panel-body">
			<form class="form" method="post" role="form">
				{{ user_form.hidden_tag() }}
				{{ wtf.form_errors(user_form, hiddens = "only") }}
				
				{{ wtf.form_field(user_form.username) }}
				{{ wtf.form_field(user_form.fullname) }}
				{{ wtf.form_field(user_form.role) }}

				<a href="{{ url_return }}" role="button" class="btn btn-default">Cancel</a>
				{{ wtf.form_field(user_form.submit, button_map = {'user_submit': 'primary'}) }}
			</form>
		</div>
	</div>
</div>
{% endblock %}
