{% import "forms.html" as forms %}
<div id="signin-dialog" class="modal" data-bind="with: $root.signin" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Sign In</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="signin_form" role="form">
					{{ forms.global_errors() }}
					{{ forms.input('username', 'User Name', prefix = 'signin_', required = 'required') }}
					{{ forms.input('password', 'Password', prefix = 'signin_', type = 'password', required = 'required') }}
				</form>
			</div>
			<div class="modal-footer">
				<button	type="button" role="button" class="btn btn-primary" id="signin_submit" 
						data-bind="click: signIn">Sign In</button>
			</div>
		</div>
	</div>
</div>
