{% import "forms.html" as forms %}
<div id="profile-dialog" class="modal" data-backdrop="static" data-bind="with: $root.profile">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title">My Profile</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="profile_form" role="form">
					{{ forms.global_errors() }}
					{{ forms.input('username', 'User Name', prefix = 'profile_', required = 'required') }}
					{{ forms.input('fullname', 'Full Name', prefix = 'profile_', required = 'required') }}
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				<a href="#" role="button" class="btn btn-primary" id="profile_submit" data-bind="click: saveProfile">Save Profile</a>
			</div>
		</div>
	</div>
</div>
