<div id="profile-dialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title">My Profile</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="profile_form" role="form">
					<div style="display:none;">
						<input id="profile_csrf_token" name="profile_csrf_token" type="hidden" value="1439504563##9e2ff3ac41f1f3cc5ff13d648416655c7d60a429">
					</div>
{#					{{ wtf.form_errors(profile_form, hiddens = "only") }} #}
					<div class="form-group required">
						<label class="control-label" for="profile_username">User Name</label>
						<input class="form-control" data-bind="value: username" id="profile_username" name="profile_username" required="" type="text" value="">
					</div>
					<div class="form-group required">
						<label class="control-label" for="profile_fullname">Full Name</label>
						<input class="form-control" data-bind="value: fullname" id="profile_fullname" name="profile_fullname" required="" type="text" value="">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				<input class="btn btn-primary" form="profile_form" id="profile_submit" name="profile_submit" type="submit" value="Save Profile">
			</div>
		</div>
	</div>
</div>


