{% import "forms.html" as forms %}
<div id="password-dialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title">Modify My Password</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="password_form" role="form">
					{{ forms.global_errors() }}
					{{ forms.input('password', 'New Password', prefix = 'password_', type = 'password', required = 'required') }}
					{{ forms.input('password2', 'Repeat Password', prefix = 'password_', type = 'password', required = 'required') }}
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				<a	href="#" role="button" class="btn btn-primary" id="password_submit"
					data-bind="click: savePassword">Save Password</a>
			</div>
		</div>
	</div>
</div>
