<div id="password-dialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title">Modify My Password</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="password_form" role="form">
					<div style="display:none;">
						<input id="password_csrf_token" name="password_csrf_token" type="hidden" value="1439564384##d04272eaec265d781e1dd102fdacbaeccceeb23b">
					</div>
{#					{{ wtf.form_errors(password_form, hiddens = "only") }} #}
					
					<div class="form-group required">
						<label class="control-label" for="password_password">New Password</label>
						<input class="form-control" data-bind="value: password1" id="password_password" name="password_password" required="" type="password" value="">
					</div>
					<div class="form-group required">
						<label class="control-label" for="password_repeat_password">Repeat Password</label>
						<input class="form-control" data-bind="value: password2" id="password_repeat_password" name="password_repeat_password" required="" type="password" value="">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				<a	href="#" role="button" class="btn btn-primary" id="password_submit"
					data-bind="click: savePassword">Save Password</a>
			</div>
		</div>
	</div>
</div>
