{% import "bootstrap/wtf.html" as wtf %}
<div id="password-dialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title">Change Your Password</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="password_form" role="form">
					{{ password_form.hidden_tag() }}
					{{ wtf.form_errors(password_form, hiddens = "only") }}
					
					{{ wtf.form_field(password_form.password) }}
					{{ wtf.form_field(password_form.repeat_password) }}
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				{{ wtf.form_field(password_form.submit, button_map = {'password_submit': 'primary'}, form = "password_form") }}
			</div>
		</div>
	</div>
</div>
