{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='auth/home.css')}}">
{% endblock %}

{% block page_content %}
	<div class="form-profile">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="form-heading">My Profile</h3>
			</div>
			<div class="panel-body">
				{{ wtf.quick_form(profileForm, button_map = {'profile_submit': 'primary'}) }}
			</div>
		</div>
	</div>
{% endblock %}
