{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='auth/home.css')}}">
{% endblock %}

{% block page_content %}
	<div class="form-profile">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="form-heading">My Profile</h3>
			</div>
			<div class="panel-body">
				<form class="form" method="post" role="form">
					{{ profile_form.hidden_tag() }}
					{{ wtf.form_errors(profile_form, hiddens = "only") }}
					
					{{ wtf.form_field(profile_form.username) }}
					{{ wtf.form_field(profile_form.fullname) }}
	
					<a href="{{ url_return }}" role="button" class="btn btn-default">Cancel</a>
					{{ wtf.form_field(profile_form.submit, button_map = {'profile_submit': 'primary'}) }}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
