{# TODO adapt to voltage threshold data #}
{# TODO add events listeners and ajax #}
{% for level in [1,2,3] %}
{% set group_item_class = {1:'info',2:'warning',3:'danger'}[level] %}
{% set level_icon = {1:'info-sign',2:'exclamation-sign',3:'warning-sign'}[level] %}
{% set alert_level = {1:'Info',2:'Warning',3:'Alarm'}[level] %}
<li class="list-group-item list-group-item-{{ group_item_class }} form-inline">
	{#% for voltage_rate_alert in config.voltage_rate_alert_thresholds|sort(reverse=True, attribute='alert_time') %#}
	{% for voltage_rate_alert in config.voltage_rate_alert_thresholds %}
	{% if voltage_rate_alert.alert_level == level %}
	<span class="badge">
		{{ voltage_rate_alert.voltage_rate }}%
		({{ voltage_rate_alert.alert_time }}s)
		<a class="voltage-alert-remove" data-config="{{ config.id }}" data-alert="{{ voltage_rate_alert.id }}" href="#">
			<span class="glyphicon glyphicon-remove"/>
		</a>
	</span>
	{% endif %}
	{% endfor %}
	<span class="glyphicon glyphicon-{{level_icon}}"/>
	<div class="voltage-alert-type">{{ alert_level }}</div>
	<input type="text" class="form-control input-sm voltage-alert-threshold" placeholder="rate (%)"/>
	<div class="input-group input-group-sm">
		<input type="text" class="form-control voltage-alert-time" placeholder="time (s)"/>
		<span class="input-group-btn">
			<button class="btn btn-default" data-config="{{ config.id }}" data-level="{{ level }}" type="button">
				<span class="glyphicon glyphicon-ok"/>
			</button>
		</span>
	</div>
</li>
{% endfor %}
