<h4>Time (in seconds) without ping after which alerts must be triggered</h4>
<ul class="list-group" data-bind="foreach: noPingThresholds">
	<li class="list-group-item form-inline" data-bind="css: itemCss">
		<!-- ko foreach: thresholds -->
		<span class="badge">
			<!-- ko text: $data --><!-- /ko -->s
			<a class="ping-alert-remove" data-bind="click: $parent.removeThreshold" href="#">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		</span>
		<!-- /ko  -->
		<span class="glyphicon" data-bind="css: levelIcon"></span>
		<div class="ping-alert-type" data-bind="text: levelLabel"></div>
		<div class="input-group input-group-sm">
			<input type="text" class="form-control ping-alert-time" data-bind="value: newTime" placeholder="time (s)"/>
			<span class="input-group-btn">
				<button class="btn btn-default" data-bind="click: addTimeThreshold" type="button">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</span>
		</div>
	</li>
</ul>
