{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='configure/home.css')}}">
{% endblock %}

{% block page_content %}
<div class="form-config">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="form-heading">New Configuration</h3>
		</div>
		<div class="panel-body">
			{{ wtf.quick_form(configForm, button_map = {'config_submit': 'primary'}) }}
		</div>
	</div>
</div>
{% endblock %}
