{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='configure/home.css')}}">
{% endblock %}

{% block page_content %}
<div class="form-config">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="form-heading">New Configuration</h3>
		</div>
		<div class="panel-body">
			<form class="form" enctype = "multipart/form-data" method="post" role="form">
				{{ config_form.hidden_tag() }}
				{{ wtf.form_errors(config_form, hiddens = "only") }}
				
				{{ wtf.form_field(config_form.name) }}
				{{ wtf.form_field(config_form.lockcode) }}
				{{ wtf.form_field(config_form.map_area_file) }}

				<a href="{{ url_return }}" role="button" class="btn btn-default">Cancel</a>
				{{ wtf.form_field(config_form.submit, button_map = {'config_submit': 'primary'}) }}
			</form>
		</div>
	</div>
</div>
{% endblock %}
