<div id="config-map-dialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title" data-bind="text: 'Map for Configuration \'' + name() + '\''"></h4>
			</div>
			<div class="modal-body">
				<div class="config-map-area" data-bind="html: svgMap"></div>
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				<button	type="button" href="#" role="button" class="btn btn-primary" id="map_submit" 
						data-bind="click: saveMapConfig">Save Modules Location</button>
			</div>
		</div>
	</div>
</div>
