{% import "forms.html" as forms %}
<div id="config-dialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title" data-bind="text: isNew() ? 'New Configuration' : 'Edit Configuration \'' + name() + '\''"></h4>
			</div>
			<div class="modal-body">
				<form class="form" id="config_form" role="form" href="#">
					{{ forms.global_errors() }}
					{{ forms.input('name', 'Name', prefix = 'config_', classes = 'disablable', required = 'required') }}
					{{ forms.input('lockcode', 'Lock Code', prefix = 'config_', classes = 'disablable', required = 'required') }}

					{# TODO add errors if any on this field #}
					<div class="form-group">
						<label class="control-label" for="config_map_area">Monitored Zone Map</label>
						<div class="input-group">
							<input	class="form-control" type="text" 
									id="config_map_area_filename" name="config_map_area_filename" 
									data-bind="value: map_area_filename"
									readonly="readonly">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default disablable" 
										data-bind="click: showMapUpload">Select...</button> 
								<button type="button" class="btn btn-default" 
										data-bind="enable: map_area_filename() && !editDeviceModel.showDeviceForm(), click: deleteMap">Delete</button>
							</span>
						</div>
					</div>
				</form>
				{# Hidden form used just for the purpose of uploading the map file #}
				<form id="config_map_form" enctype="multipart/form-data" style="display: none">
					<input	id="map_area" name="map_area" type="file" accept=".svg" 
							data-bind="event: { change: mapUploadChanged }">
				</form>
				<!-- ko ifnot: isNew -->
				<div id="expandable_area">
					<button type="button" class="btn btn-primary disablable" role="button" data-toggle="collapse" 
						data-target="#config_modules" aria-expanded="false" aria-controls="config_modules">
						Modules
					</button>
					<button type="button" class="btn btn-primary disablable" role="button" data-toggle="collapse" 
						data-target="#config_ping_alerts" aria-expanded="false" aria-controls="config_ping_alerts">
						Signal Alerts
					</button>
					<button type="button" class="btn btn-primary disablable" role="button" data-toggle="collapse" 
						data-target="#config_voltage_alerts" aria-expanded="false" aria-controls="config_voltage_alerts">
						Voltage Alerts
					</button>
					<div class="collapse" id="config_modules">
					{# TODO refactor and split into several smaller templates #}
						<h4 id="empty-devices-list" data-bind="visible: emptyList">No module added yet!</h4>
						<table	class="table table-hover table-condensed devices-list"
								data-bind="visible: !emptyList()">
							<thead>
								<tr>
									<th></th>
									<th>Name</th>
									<th>Kind</th>
									<th>Device ID</th>
									<th>Voltage Threshold</th>
								</tr>
							</thead>
							<tbody data-bind="foreach: devices">
								<tr>
									<td>
										<button type="button" class="btn btn-xs btn-default device-edit disablable" 
											data-bind="click: $parent.editDevice">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button type="button" class="btn btn-xs btn-default device-delete disablable" 
											data-bind="click: $parent.deleteDevice">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</td>
									<td class="device_name" data-bind="text: name"></td>
									<td class="device_kind" data-bind="text: kind"></td>
									<td class="device_id" data-bind="text: device_id"></td>
									<td class="device_voltage" data-bind="text: voltage_threshold + ' V'"></td>
								</tr>
							</tbody>
						</table>
						<div class="btn-group">
							<button id="create-device" type="button" class="btn btn-primary dropdown-toggle disablable" 
								data-toggle="dropdown" aria-expanded="false">
								Add Module <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" data-bind="foreach: deviceCreators">
								<li>
									<a class="create-device" href="#" data-bind="text: label, click: $parent.editNewDevice"></a>
								</li>
							</ul>
						</div>
						{# TODO include and manage form #}
						{% include "configure/form_device.html" %}
					</div>
{#
					<div class="collapse" id="config_ping_alerts">
						<h4>Time (in seconds) without ping after which alerts must be triggered</h4>
						<ul class="list-group">
							{% include "configure/all_ping_alert_rows.html" %}
						</ul>
					</div>
					<div class="collapse" id="config_voltage_alerts">
						<h4>Rate (in % of device voltage threshold) under which alerts are triggered</h4>
						<ul class="list-group">
							{% include "configure/all_voltage_alert_rows.html" %}
						</ul>
					</div>
#}
				</div>
				<!-- /ko -->
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				<!-- ko if: isNew -->
				<button	type="button" role="button" class="btn btn-primary disablable" id="config_submit" 
						data-bind="click: saveNewConfig">Create Configuration</button>
				<!-- /ko -->
				<!-- ko ifnot: isNew -->
				<button	type="button" role="button" class="btn btn-primary disablable" id="config_submit" 
						data-bind="click: saveConfig">Save Configuration</button>
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>
