{% import "bootstrap/wtf.html" as wtf %}
<div id="config-dialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title">Edit Configuration '{{ config.name }}'</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="config_form" enctype="multipart/form-data" role="form">
					{{ config_form.hidden_tag() }}
					{{ wtf.form_errors(config_form, hiddens = "only") }}
					
					{{ wtf.form_field(config_form.name) }}
					{{ wtf.form_field(config_form.lockcode) }}
					{{ wtf.form_field(config_form.map_area_file) }}
					{{ wtf.form_field(config_form.map_area_filename, readonly = "readonly") }}
				</form>
				
				<h3 id="empty-devices-list" style="display:none">No module added yet!</h3>
				<table class="table table-hover table-condensed devices-list" style="display:none">
					<caption>Modules</caption>
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Kind</th>
							<th>Device ID</th>
							<th>Voltage Threshold</th>
						</tr>
					</thead>
					<tbody>
					{% include "configure/all_module_rows.html" %}
					</tbody>
				</table>
				<div class="btn-group">
					<button id="create-device" type="button" class="btn btn-primary dropdown-toggle" 
						data-toggle="dropdown" aria-expanded="false">
						Add Module <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a class="create-device" data-config="{{ config.id }}" data-kind="1" href="#">Add Keypad Module</a>
						</li>
						<li>
							<a class="create-device" data-config="{{ config.id }}" data-kind="2" href="#">Add Motion Detection Module</a>
						</li>
						<li>
							<a class="create-device" data-config="{{ config.id }}" data-kind="3" href="#">Add Camera Module</a>
						</li>
					</ul>
				</div>
				<form class="form form-inline" id="device_form" role="form" style="display:none">
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				{{ wtf.form_field(config_form.submit, button_map = {'config_submit': 'primary'}, form = "config_form") }}
			</div>
		</div>
	</div>
</div>
