{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='configure/home.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script language="javascript" type="text/javascript" src="{{url_for('static', filename='configure/SVGHandlers.js')}}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({'container': 'body'});
});
</script>
{% endblock %}

{% block page_content %}
<div class="form-config-map">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="form-heading">Map for Configuration '{{ config.name }}'</h3>
		</div>
		<div class="panel-body">
		{# TODO Add cancel button to return to configurations list #}
			{{ wtf.quick_form(configMapForm, button_map = {'config_submit': 'primary'}) }}
		</div>
		<div class="config-map-area">
			{{ svgMap|safe }}
		</div>
	</div>
</div>
{% endblock %}
