{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='configure/home.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{% if deviceForm %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#modalDeviceFormId").modal('show');
	});
</script>
{% endif %}
{% endblock %}

{% set kinds = {1:'Keypad',2:'Motion Detection',3:'Camera'} %}

{% block modal_content %}
	{% if deviceForm %}
	{% set url_close = url_for('configure.edit_config', id = config.id) %}
	<div id="modalDeviceFormId" class="modal fade" data-backdrop="static">
		<div class="modal-dialog">
			<form class="form" method="post" role="form">
				<div class="modal-content">
					<div class="modal-header">
						<a href="{{ url_close }}" role="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
						<h4 class="modal-title">Edit {{ kinds[kind] }} Module for '{{ config.name }}' Configuration</h4>
					</div>
					<div class="modal-body">
						<div class="form-device">
						{{ deviceForm.hidden_tag() }}
						{{ wtf.form_errors(deviceForm, hiddens = "only") }}
						
						{{ wtf.form_field(deviceForm.name) }}
						{{ wtf.form_field(deviceForm.voltage_threshold) }}
						{{ wtf.form_field(deviceForm.device_id) }}
						</div>
					</div>
					<div class="modal-footer">
						<a href="{{ url_close }}" role="button" class="btn btn-default">Close</a>
						{{ wtf.form_field(deviceForm.submit, button_map = {'device_submit': 'primary'}) }}
					</div>
				</div>
			</form>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block page_content %}
	<div class="form-config">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="form-heading">Edit Configuration '{{ config.name }}'</h3>
			</div>
			<div class="panel-body">
				{{ wtf.quick_form(configForm, button_map = {'config_submit': 'primary'}) }}
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="form-heading">Modules</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Kind</th>
							<th>Device ID</th>
							<th>Voltage Threshold</th>
						</tr>
					</thead>
					<tbody>
					{% for device_id, device in config.devices | dictsort %}
						<tr>
							<td>
								{# TODO add action links #}
								<a  class="btn btn-xs btn-default device-edit" 
									href="{{ url_for('configure.edit_device', id = device.id) }}">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a  class="btn btn-xs btn-default device-delete" 
									href="{{ url_for('configure.delete_device', id = device.id) }}" 
									onclick="return window.confirm('Are you sure you want to remove this module?');">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
							<td class="device_name">
								{{ device.name }}
							</td>
							<td class="device_kind">
								{{ kinds[device.kind] }}
							</td>
							<td class="device_id">
								{{ device_id }}
							</td>
							<td class="device_voltage">
								{{ device.voltage_threshold }} V
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						Add Module <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{url_for('configure.create_device', id = config.id, kind = 1)}}">Add Keypad Module</a></li>
						<li><a href="{{url_for('configure.create_device', id = config.id, kind = 2)}}">Add Motion Detection Module</a></li>
						<li><a href="{{url_for('configure.create_device', id = config.id, kind = 3)}}">Add Camera Module</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
