{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='configure/home.css')}}">
{% endblock %}

{% block page_content %}
<div class="form-config-map">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="form-heading">Map for Configuration '{{ config.name }}'</h3>
		</div>
		<div class="panel-body">
		{# TODO Add cancel button to return to configurations list #}
		{# TODO Use inline form but WITH the labels! #}
			{{ wtf.quick_form(configMapForm, enctype = 'multipart/form-data', button_map = {'config_submit': 'primary'}) }}
		</div>
		{# TODO add devices position somehow (eg select device from dropdown then click on SVG) #}
		<div class="config-map-area">
			{{ config.map_area|safe }}
		</div>
	</div>
</div>
{% endblock %}
