{% import "bootstrap/wtf.html" as wtf %}
<form class="form form-inline" id="device_form" role="form">
	{{ device_form.hidden_tag() }}
	{{ wtf.form_errors(device_form, hiddens = "only") }}
	
	{# TODO add placeholder labels #}
	{{ wtf.form_field(device_form.name, form_type = 'inline') }}
	{{ wtf.form_field(device_form.voltage_threshold, form_type = 'inline') }}
	{{ wtf.form_field(device_form.device_id, form_type = 'inline') }}
	<a class="btn btn-danger device-cancel" href="#">
		<span class="glyphicon glyphicon-remove-circle"></span>
	</a>
	<a class="btn btn-success device-submit" href="#">
		<span class="glyphicon glyphicon-ok-circle"></span>
	</a>
</form>
