{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='configure/home.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='common/sprintf.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='common/errors.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='configure/Configure.js')}}"></script>
{% endblock %}

{% block modal_content %}
{% include "configure/dialog_create_config.html" %}
{% endblock %}

{% block page_content %}
	<div class="configurations">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="form-heading">Configurations</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover configs-list" style="display:none">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Current</th>
							<th>Active</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<h3 id="empty-configs-list" style="display:none">No configuration created yet!</h3>
				<a  class="btn btn-primary config-new" href="#">Create Configuration</a>
			</div>
		</div>
	</div>
{% endblock %}
