{% set kinds = {1:'Keypad',2:'Motion Detection',3:'Camera'} %}
<tr>
	<td>
		<a  class="btn btn-xs btn-default device-edit" href="#"
			data-device="{{ device.id }}">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a  class="btn btn-xs btn-default device-delete" href="#"
			data-device="{{ device.id }}">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	</td>
	<td class="device_name">
		{{ device.name }}
	</td>
	<td class="device_kind">
		{{ kinds[device.kind] }}
	</td>
	<td class="device_id">
		{{ device_id }}
	</td>
	<td class="device_voltage">
		{{ device.voltage_threshold }} V
	</td>
</tr>
