<div id="user-dialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" role="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title">
				{% if is_new %}
					New User
				{% else %}
					Edit User
				{% endif %}
				</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="user_form" role="form">
					<div style="display:none;">
						<input id="user_csrf_token" name="user_csrf_token" type="hidden" value="1439281469##c864b6eb954e18d8741fe41cbb89d79981bf5c3b">
						<input id="user_id" name="user_id" type="hidden" value="0">
					</div>
					<div class="form-group  required"><label class="control-label" for="user_username">User Name</label>
						<input class="form-control" id="user_username" name="user_username" required="" type="text" value="">
					</div>
					{% if is_new %}
					<div class="form-group  required"><label class="control-label" for="user_password">Password</label>
						<input class="form-control" id="user_password" name="user_password" required="" type="password" value="">
					</div>
					{% endif %}
					<div class="form-group  required"><label class="control-label" for="user_fullname">Full Name</label>
						<input class="form-control" id="user_fullname" name="user_fullname" required="" type="text" value="">
					</div>
					<div class="form-group "><label class="control-label" for="user_role">Role</label>
						<select class="form-control" id="user_role" name="user_role">
							<option value="4">Alarm Viewer</option>
							<option value="3">Alarm Setter</option>
							<option value="2">Configurator</option>
							<option value="1">Administrator</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" role="button" class="btn btn-default cancel">Cancel</a>
				<input class="btn btn-primary" form="user_form" id="user_submit" name="user_submit" type="submit" value="Create User">
			</div>
		</div>
	</div>
</div>
