<tr>
	<td>
		<a  class="btn btn-xs btn-default user-edit" href="#"
			data-user="{{ user.id }}">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a  class="btn btn-xs btn-default user-reset-password"  href= "#"
			data-user="{{ user.id }}"
			title="Reset password of this user">
			<span class="glyphicon glyphicon-flash"></span>
		</a>
	{% if current_user.id != user.id %}
		<a  class="btn btn-xs btn-default user-delete" 
			data-user="{{ user.id }}">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	{% endif %}
	</td>
	<td class="user_username">{{ user.username }}</td>
	<td class="user_fullname">{{ user.fullname }}</td>
	<td class="user_role">{{ user.role }}</td>
</tr>
