{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='monitor/home.css')}}">
{% endblock %}

{% block page_content %}
	<div class="monitor">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="form-heading">Current Configuration Status</h3>
			</div>
			<div class="panel-body">
			{% if configuration %}
				<h3>Current configuration '{{configuration.name}}'</h3>
				{% if configuration.active %}
				<h3>
					Alarm Active
					{% if current_user.is_alarm_setter() %}
					<a	class="btn btn-primary" role="button" 
						href="{{ url_for('monitor.deactivate_config') }}"
						onclick="return window.confirm('Are you sure you want to deactivate the alarm system?');">
						Deactivate
					</a>
					{% endif %}
				</h3>
				{% else %}
				<h3>
					Alarm Not Active
					{% if current_user.is_alarm_setter() %}
					<a	class="btn btn-primary" role="button" 
						href="{{ url_for('monitor.activate_config') }}"
						onclick="return window.confirm('Are you sure you want to activate the alarm system?');">
						Activate
					</a>
					{% endif %}
				</h3>
				{% endif %}
				{# TODO show events history #}
				{# TODO link/button to access realtime status (on map when possible) #}
			{% else %}
				<h3>No current configuration created yet!</h3>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
