{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "monitor/utils.html" as utils %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='monitor/home.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script language="javascript" type="text/javascript" src="{{url_for('static', filename='monitor/sprintf.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{url_for('static', filename='monitor/Monitor.js')}}"></script>
{% endblock %}

{# TODO Make all actions in this page AJAX actions (avoid POST/GET as much as possible) #}
{% block page_content %}
{% if configuration and configuration.active %}
	<input type="hidden" id="has_active_configuration" name="has_active_configuration" value="yes">
{% endif %}
	<div class="monitor">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="form-heading">
				{% if configuration %}
					Current configuration '{{configuration.name}}'&nbsp;-&nbsp;
					{% if configuration.active %}
						Active
					{% else %}
						Not Active
					{% endif %}
				{% else %}
					No current configuration
				{% endif %}
				</h3>
			</div>
			<div class="panel-body">
			{% if configuration %}
				{% if current_user.is_alarm_setter() %}
					{% if configuration.active %}
				<a	class="btn btn-primary" role="button" 
					id="deactivate_config"
					href="{{ url_for('monitor.deactivate_config') }}"
					onclick="return window.confirm('Are you sure you want to deactivate the alarm system?');">
					Deactivate
				</a>
					{% else %}
				<a	class="btn btn-primary" role="button" 
					id="activate_config"
					href="{{ url_for('monitor.activate_config') }}"
					onclick="return window.confirm('Are you sure you want to activate the alarm system?');">
					Activate
				</a>
					{% endif %}
				{% endif %}
				{# TODO improve restoring the latest active tab on refresh (how to do that?) #}
				<div class="monitor-tabs" role="tablist">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" {{ utils.tab_class('maps', active_tab) }}>
							<a id="tab_map" href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a>
						</li>
						<li role="presentation" {{ utils.tab_class('alerts', active_tab) }}>
							<a id = "tab_alerts" href="#alerts" aria-controls="alerts" role="tab" data-toggle="tab">Alerts</a>
						</li>
						<li role="presentation" {{ utils.tab_class('history', active_tab) }}>
							<a id = "tab_history" href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a>
						</li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" {{ utils.tabpane_class('maps', active_tab) }} id="map">
							<div class="monitor-map-area">
								{{ svg_map|safe }}
							</div>
						</div>
						<div role="tabpanel" {{ utils.tabpane_class('alerts', active_tab) }} id="alerts">
							<div class="form-alert-filter">
							{# TODO add a show all button to clear filter #}
								<form id="alert_filter_form" class="form form-inline" method="post" role="form">
									{{ filter_form.hidden_tag() }}
									{{ wtf.form_errors(filter_form, hiddens = "only") }}
									{{ wtf.form_field(filter_form.period_from, 'inline', placeholder = 'From') }}
									{{ wtf.form_field(filter_form.period_to, 'inline', placeholder = 'To') }}
									{{ wtf.form_field(filter_form.alert_level, 'inline') }}
									{{ wtf.form_field(filter_form.alert_type, 'inline') }}
									{{ wtf.form_field(filter_form.submit, 'inline', button_map = {'alert_filter_submit': 'primary'}) }}
								</form>
							</div>

							{# TODO add scrollbar to table body and avoid global browser scrollbar #}
							<table class="alerts-list table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th>Level</th>
										<th>Time</th>
										<th>Type</th>
										<th>Module</th>
										<th>Message</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div role="tabpanel" {{ utils.tabpane_class('history', active_tab) }} id="history">
							{#
								TODO add proper pagination classes (for easier jquery manipulation)
								TODO add pre-fill on first tab activation (javascript) and initialize paging area!
									that shall include "..." to show additional pages
								TODO add javascript on click for all pagination buttons
							#}
							<nav id="history-pagination">
								<ul class="pagination">
									<li class="disabled">
										<a href="#" id="history-first" aria-label="First">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li class="disabled">
										<a href="#" id="history-previous" aria-label="Previous">
											<span aria-hidden="true">&lsaquo;</span>
										</a>
									</li>
									<li class="active">
										<a href="#" id="history-page-1" >
											1<span class="sr-only">(current)</span>
										</a>
									</li>
									<li class="disabled">
										<a href="#" id="history-next" aria-label="Next">
											<span aria-hidden="true">&rsaquo;</span>
										</a>
									</li>
									<li class="disabled">
										<a href="#" id="history-last" aria-label="Last">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
							<table class="history-list table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th>Level</th>
										<th>Time</th>
										<th>Type</th>
										<th>Module</th>
										<th>Message</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
