{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='monitor/home.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({'container': 'body', 'trigger': 'click', 'placement': 'right'});
});
</script>
{% endblock %}

{% block page_content %}
	<div class="monitor">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="form-heading">
				{% if configuration %}
					Current configuration '{{configuration.name}}'&nbsp;-&nbsp;
					{% if configuration.active %}
						Active
					{% else %}
						Not Active
					{% endif %}
				{% else %}
					No current configuration
				{% endif %}
				</h3>
			</div>
			<div class="panel-body">
			{% if configuration %}
				{% if current_user.is_alarm_setter() %}
					{% if configuration.active %}
				<a	class="btn btn-primary" role="button" 
					href="{{ url_for('monitor.deactivate_config') }}"
					onclick="return window.confirm('Are you sure you want to deactivate the alarm system?');">
					Deactivate
				</a>
					{% else %}
				<a	class="btn btn-primary" role="button" 
					href="{{ url_for('monitor.activate_config') }}"
					onclick="return window.confirm('Are you sure you want to activate the alarm system?');">
					Activate
				</a>
					{% endif %}
				{% endif %}
				{% if configuration.active %}
				{% endif %}
				<div class="monitor-tabs" role="tablist">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a>
						</li>
						<li role="presentation">
							<a href="#alerts" aria-controls="alerts" role="tab" data-toggle="tab">Alerts</a>
						</li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="map">
							{# TODO How to implement "realtime" update of devices tooltips? #}
							<div class="monitor-map-area">
								{{ svg_map|safe }}
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="alerts">
						{# TODO externalize to other file to avoid bloating this template #}
						{% macro render_alert_level(level) -%}
							{% set level_class = {1:'info',2:'warning',3:'alarm'}[level] %}
							{% set level_icon = {1:'info-sign',2:'exclamation-sign',3:'exclamation-sign'}[level] %}
							<span class="alert-level-{{level_class}} glyphicon glyphicon-{{level_icon}}"></span>
						{%- endmacro %}
						{% set types = {1:'Module Power',2:'Module Presence',3:'Lock',4:'Unlock',5:'Bad code'} %}
						{# TODO How to implement "realtime" refresh of alerts? #}
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Level</th>
										<th>Time</th>
										<th>Type</th>
										<th>Module</th>
										<th>Message</th>
									</tr>
								</thead>
								<tbody>
								{% for alert in alerts %}
									<tr>
										<td>{{ render_alert_level(alert.level) }}</td>
										{# TODO Remove ms precision in format #}
										<td>{{ alert.when }}</td>
										<td>{{ types[alert.alert_type] }}</td>
										{# TODO Fix empty device name! #}
										<td>{{ alert.device.name }}</td>
										<td>{{ alert.message }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
