<div role="tabpanel" class="tab-pane" id="history">
	<nav id="history-pagination">
		<ul class="pagination">
			<li data-bind="css: has_prev() ? '' : 'disabled'">
				<a href="#" data-bind="click: firstPage" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			
		<!-- ko foreach: iter_pages -->
			<!-- ko if: $parent.page() ===  $data -->
			<li class="active">
				<a href="#"><!-- ko text: $data--><!-- /ko --><span class="sr-only">(current)</span></a>
			</li>
			<!-- /ko -->
			<!-- ko if: $data === null -->
			<li class="disabled"><a href="#">&hellip;</a></li>
			<!-- /ko -->			
			<!-- ko if: $data !== null && $data !== $parent.page() -->
			<li><a href="#" data-bind="click: $parent.gotoPage, text: $data"></a></li>
			<!-- /ko -->
		<!-- /ko -->
			
			<li data-bind="css: has_next() ? '' : 'disabled'">
				<a href="#" data-bind="click: lastPage" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
	<table class="history-list table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Time</th>
				<th>Type</th>
				<th>Module</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: alerts">
			<tr>
				<td><span data-bind="css: $parent.alertLevelClass(level)"></span></td>
				<td data-bind="text: $parent.alertTime(when)"></td>
				<td data-bind="text: alert_type"></td>
				<td data-bind="text: device ? device.name : ''"></td>
				<td data-bind="text: message"></td>
			</tr>
		</tbody>
	</table>
</div>
