{% import "forms.html" as forms %}
<div role="tabpanel" class="tab-pane" id="control">
	{% if current_user.is_alarm_setter() %}
	<button	type="button" role="button" class="btn btn-primary"
			data-bind="click: deactivate, visible: name() && active()">Deactivate</button>
	<button	type="button" role="button" class="btn btn-primary"
			data-bind="click: activate, visible: name() && !active()">Activate</button>
	<button	type="button" role="button" class="btn btn-primary"
			data-bind="click: lock, visible: name() && active() && !locked()">Lock</button>
	<button	type="button" role="button" class="btn btn-primary"
			data-bind="click: unlock, visible: name() && active() && locked()">Unlock</button>
	<div class="form-history-clear">
		<form	id="history_clear_form" 
				class="form form-inline" 
				method="post" role="form">
			{{ forms.global_errors() }}
			{{ forms.inline_input('clear_until', 'Until', hide_label = True, prefix = 'history_clear_', placeholder = 'Until') }}
			<button	type="button" role="button" class="btn btn-primary" id="history_clear_submit" 
					data-bind="click: clearHistory">Clear History</button>
		</form>
	</div>
	{% endif %}
</div>
