{% import "forms.html" as forms %}
<div role="tabpanel" class="tab-pane" id="alerts" data-bind="with: alertsMonitor">
	<div class="form-alert-filter">
		<form id="alert_filter_form" class="form form-inline" method="post" role="form">
			{{ forms.global_errors() }}
			{{ forms.inline_input('period_from', 'From', prefix = 'alert_filter_', placeholder = 'DD-MM-YYYY') }}
			{{ forms.inline_input('period_to', 'To', prefix = 'alert_filter_', placeholder = 'DD-MM-YYYY') }}
			{{ forms.inline_select('alert_level', 'Level', 'allAlertLevels', optionsText="'label'", optionsValue="'code'", prefix = 'alert_filter_') }}
			{{ forms.inline_select('alert_type', 'Type', 'allAlertTypes', optionsText="'label'", optionsValue="'code'", prefix = 'alert_filter_') }}
			<button	type="button" role="button" class="btn btn-primary" id="alert_filter_submit" 
					data-bind="click: filterAlerts">Filter</button>
			<button	type="button" role="button" class="btn btn-default" 
					data-bind="click: resetAlerts">Reset</button>
		</form>
	</div>

	<table class="alerts-list table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Time</th>
				<th>Type</th>
				<th>Module</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: alerts">
			<tr>
				<td><span data-bind="css: $parent.alertLevelClass(level)"></span></td>
				<td data-bind="text: $parent.alertTime(when)"></td>
				<td data-bind="text: alert_type"></td>
				<td data-bind="text: device ? device.name : ''"></td>
				<td data-bind="text: message"></td>
			</tr>
		</tbody>
	</table>
</div>
