<div role="tabpanel" class="tab-pane" id="alerts">
	<div class="form-alert-filter">
		<form id="alert_filter_form" class="form form-inline" method="post" role="form">
		{#
			{{ filter_form.hidden_tag() }}
			{{ wtf.form_errors(filter_form, hiddens = "only") }}
			{{ wtf.form_field(filter_form.period_from, 'inline', placeholder = 'From') }}
			{{ wtf.form_field(filter_form.period_to, 'inline', placeholder = 'To') }}
			{{ wtf.form_field(filter_form.alert_level, 'inline') }}
			{{ wtf.form_field(filter_form.alert_type, 'inline') }}
			{{ wtf.form_field(filter_form.submit, 'inline', button_map = {'alert_filter_submit': 'primary'}) }}
			<a	class="btn btn-default" role="button" 
				id="reset_filter"
				href="#">Reset</a>
		#}
		</form>
	</div>

	<table class="alerts-list table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Time</th>
				<th>Type</th>
				<th>Module</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
