.configurations {
	padding: 5px;
	margin: 0 auto;
}

#device_form {
	padding-top: 5px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
}

.config-map-area {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 75vh;
}

