.configurations {
  padding: 5px;
  margin: 0 auto;
}

.form-config {
  padding: 5px;
  margin: 0 auto;
}

.form-config .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-device {
  padding: 5px;
  margin: 0 auto;
}

.form-device .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-heading  {
  margin-top: 0;
  margin-bottom: 0;
}
