.monitor {
	padding: 5px;
	margin: 0 auto;
}

.form-heading  {
	margin-top: 0;
	margin-bottom: 0;
}

.monitor-map-area {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 75vh;
}

.monitor-device-image:hover {
	cursor: pointer;
}

