.monitor {
	padding: 5px;
	margin: 0 auto;
}

.form-heading  {
	margin-top: 0;
	margin-bottom: 0;
}

.monitor-tabs {
	margin-top: 10px;
}

.monitor-map-area {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	height: 70vh;
}

.monitor-device-image:hover {
	cursor: pointer;
}

.alert-level-info {
	color: #31708f;
}

.alert-level-warning {
	color: #8a6d3b;
}

.alert-level-alarm {
	color: #a94442;
}
